<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title> pevution site de estudos</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     
    <link rel="stylesheet" href="static/style.css">

</head>
<body style="background-color: #76bbf0;">
 <header>
    <nav class="navbar">
      <img class="imagem" src="../static/logob.svg">
    </nav>
 </header>
 
 <main>

    <section>
        <div class="centralizar_textos">    
                  <h4 class="titulo_texto" >Área do aluno</h4>
        </div>
    </section>

   <section>
    <form>
    <div class="formulario"> 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">E-mail:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha de acesso:</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Lembrar usuário</label>
        </div>
        <button type="submit" class="btn btn-primary" >Entrar</button>
    </div>
      </form>
   </section>
 </main>

</body>
</html>