<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title> pevution site de estudos</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
 <main>

   <section>

    <h3> Afinal, como funciona o PAS 1?</h3>
    <p>Para participar do PAS 1, você deve estar
        cursando a 1ª série do ensino médio regular
        ou a 2ª série do ensino.
        Se você for reprovado em sua escola – no
        ano correspondente ao da 1ª etapa –, será
        desligado do subprograma, mas poderá
        reinscrever-se no subprograma posterior.
        </p>

    <h3>Quem não fez o PAS 1 pode fazer o PAS 2?</h3>
        <p>O candidato poderá inscrever-se na segunda etapa mesmo que não tenha participado da primeira etapa do PAS ou tenha participado e tenha sido eliminado.</p>

    <h3>Como é dado o resultado da prova?</h3>
    <p>O resultado é dado através do site da Cebraspe, com uma aba específica indicando </p>
    <section>
  <div class="divgrandona">
        <div id="div1" class="card text-bg-primary  mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">História</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://www.youtube.com/embed/playlist?list=PLSlodPZKvSwrfu121O3JkUJwi1cKea2f_">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div2" class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Gramática</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-primary botao"><a href="https://www.youtube.com/embed/playlist?list=PLSlodPZKvSwqJep29Eq7j5RU7UBvDAJTo">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div3" class="card text-bg-primary  mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Geografia</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://www.youtube.com/embed/playlist?list=PLSlodPZKvSwouK1-lZVK1c9-4ChDL4_iy">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div4" class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte I</div>
          <div class="card-body">
            <h5 class="card-title">Línguas estrangeiras</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-primary botao"><a href="https://www.youtube.com/embed/playlist?list=PLSlodPZKvSwpqsK1ErrGVqnSmKobMbUlU">Vídeo-aulas de inglês</a></p></button>
            <p class="card-text"><button type="button" class="btn btn-outline-primary botao"><a href="https://www.youtube.com/embed/playlist?list=PLSlodPZKvSwp343nfDkUx2hdoZfZhtYza">Vídeo-aulas de espanhol</a></p></button>
          </div>
        </div>
        <div id="div5" class="card text-bg-primary  mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Filosofia</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://www.youtube.com/embed/PLSlodPZKvSwr7kycZW5mFxz0bzJKMMjwR">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div6" class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Sociologia</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-primary botao"><a href="https://youtube.com/embed/playlist?list=PLSlodPZKvSwosBouCVLA_HuTpzxbWDslT&feature=shared">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div7" class="card text-bg-primary  mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Matemática</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://youtube.com/embed/playlist?list=PLSlodPZKvSwpO5-o1LEXVdihmQKR7OAbg&feature=shared">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div8" class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Física</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-primary botao"><a href="https://youtube.com/embed/playlist?list=PLSlodPZKvSwqccCbNGCqi6BFujQ884GHF&feature=shared">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div9" class="card text-bg-primary  mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Química</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://youtube.com/embed/playlist?list=PLSlodPZKvSwqccCbNGCqi6BFujQ884GHF&feature=shared">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div10" class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Biologia</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-primary botao"><a href="https://youtube.com/embed/playlist?list=PLSlodPZKvSwqc9pxPA8uhenOo-LnMpBYX&feature=shared">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div11" class="card text-bg-primary  mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Literatura</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href=" https://youtube.com/embed/playlist?list=PLSlodPZKvSwpeeRF2q9w9XBY4XU1Avg2g&feature=shared">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div10" class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
            <h5 class="card-title">Obras</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-primary botao"><a href=" https://youtube.com/embed/playlist?list=PLSlodPZKvSwooZDMoLI0oK9ditlMMEMMg&feature=shared">Canais Recomendados, Videos Aulas e Exercícios</a></p></button>
          </div>
        </div>
        <div id="div4" class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte I</div>
          <div class="card-body">
            <h5 class="card-title">Línguas estrangeiras</h5>
            <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://www.youtube.com/embed/playlist?list=PLSlodPZKvSwpqsK1ErrGVqnSmKobMbUlU">Vídeo-aulas de inglês</a></p></button>
            <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://www.youtube.com/embed/playlist?list=PLSlodPZKvSwp343nfDkUx2hdoZfZhtYza">Vídeo-aulas de espanhol</a></p></button>
          </div>
        </div>
        <div id = "div13" class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Geral</div>
          <div class="card-body">
            <h5 class="card-title">Provas anteriores </h5>
            <p class="card-text"><button type="button" class="btn btn-outline-primary botao"><a href="https://passeandounb.com/provas-anteriores-do-pas-1/">Cadernos de questões oficiais</a></p></button>
            <p class="card-text"><button type="button" class="btn btn-outline-primary botao"><a href="https://passeandounb.com/provas-anteriores-do-pas-1/">Gabaritos</a></p></button>
          </div>
        </div>
  </div>
   </section>
 </main>

</body>
</html>