<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title> pevution site de estudos</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
 <main>

   <section>

    <h3> Afinal, como funciona o PAS 3?</h3>
    <p>O candidato poderá se inscrever na terceira etapa apenas se tiver realizado a segunda etapa do PAS, e OBRIGATÓRIAMENT ter concluído, de acordo com o art. 44, inciso II, da Lei nº 9.394, de 20 de dezembro de 1996 (Lei de Diretrizes e Bases da Educação Nacional), o curso de ensino médio ou estudos equivalentes na data do registro acadêmico on-line na Universidade.
        Para o candidato que ingressar no PAS a partir da segunda etapa, será considerada a Língua Inglesa como opção de língua estrangeira na primeira etapa.</p>

    <h3> Qual é a diferença do PAS 2 para as outras etapas?</h3>
        <p>O PAS 2 é considerado mais difícil que o PAS 1, mas menos difícil que o PAS 3.</p>
        <p>Além disso, o PAS 2 tem peso 2 na nota final do candidato, enquanto o PAS 1 tem peso 1 e o PAS 3 tem peso 3 </p>

    <h3>Como é dado o resultado da prova?</h3>
    <p>O resultado é dado através do site da Cebraspe, com uma aba específica indicando </p>
    <section>
      <div class="divgrandona">
        <div id = "div1"class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
              <h5 class="card-title"> História</h5>
              <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="https://www.youtube.com/embed/watch?v=kPeTKX-Q0QE&list=PLDn4zt3Y4fGGYZdXMyccq3eYTHKM0HeSL&pp=iAQB">Vídeo-aulas de canais recomendados</a></p></button>
          </div>
          </div>
          <div id = "div2"class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header titulo_card">Parte II</div>
            <div class="card-body">
                <h5 class="card-title"> Gramática</h5>
                <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="#">Vídeo-aulas de canais recomendados</a></p></button>
            </div>
        </div>
        <div id = "div3"class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte II</div>
          <div class="card-body">
              <h5 class="card-title"> Geografia</h5>
              <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="https://www.youtube.com/embed/watch?v=Uhgh6cAOhCg&list=PLDn4zt3Y4fGFX4OZvHwAntrneLU6PN3Vp&pp=iAQB">Vídeo-aulas de canais recomendados</a></p></button>
          </div>
      </div>
          <div id = "div5"class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header titulo_card">Parte II</div>
            <div class="card-body">
                <h5 class="card-title"> Filosofia</h5>
                <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="#">Vídeo-aulas de canais recomendados</a></p></button>
            </div>
        </div>
          <div id = "div6"class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header titulo_card">Parte II</div>
            <div class="card-body">
                <h5 class="card-title"> Sociologia </h5>
                <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="#">Vídeo-aulas de canais recomendados</a></p></button>
            </div>
        </div>
          <div id = "div7"class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header titulo_card">Parte II</div>
            <div class="card-body">
                <h5 class="card-title">Matemática</h5>
                <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="https://www.youtube.com/embed/watch?v=EdM5qFTQvhY&list=PLDn4zt3Y4fGEvO33TFc0PIFp1uGJePRv8&pp=iAQB">Vídeo-aulas de canais recomendados</a></p></button>
            </div>
        </div>
          <div id = "div8"class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header titulo_card">Parte II</div>
            <div class="card-body">
                <h5 class="card-title">Física</h5>
                <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://youtube.com/embed/playlist?list=PLDn4zt3Y4fGGALtTR0d0F9EG1ENi2N7Wm&si=WHpw8sdOwdEu_tw0">Vídeo-aulas de canais recomendados</a></p></button>
            </div>
        </div>
          <div id = "div9"class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header titulo_card">Parte II</div>
            <div class="card-body">
                <h5 class="card-title">Química</h5>
                <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="https://www.youtube.com/embed/watch?v=otearVRhL1U&list=PLDn4zt3Y4fGEE1Cm1OrxgPz7MOrMHxltH&pp=iAQB">Vídeo-aulas de canais recomendados</a></p></button>
            </div>
        </div>
          <div id = "div10"class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header titulo_card">Parte II</div>
            <div class="card-body">
                <h5 class="card-title">Biologia</h5>
                <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://www.youtube.com/embed/watch?v=XhoR3C7Y7jw&list=PLDn4zt3Y4fGG3y2aRYLR21YLWLEVJLVZP&pp=iAQB">Vídeo-aulas de canais recomendados</a></p></button>
            </div>
        </div>
          <div id = "div11"class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header titulo_card">Parte II</div>
            <div class="card-body">
                <h5 class="card-title">Literatura</h5>
                <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="#">Vídeo-aulas de canais recomendados</a></p></button>
            </div>
        </div>
           <div id = "div12"class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header titulo_card">Parte II</div>
            <div class="card-body">
                <h5 class="card-title">Obras</h5>
                <p class="card-text"><button type="button" class="btn btn-outline-light botao"><a href="https://www.youtube.com/embed/watch?v=8Y-a73_lDu8&list=PLDn4zt3Y4fGEOhAyS2dZXIFrYtG9-F5Cb&pp=iAQB">Análises de canais recomendados</a></p></button>
            </div>
        </div>
        <div id = "div4"class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header titulo_card">Parte I</div>
          <div class="card-body">
              <h5 class="card-title"> Línguas Estrangeiras</h5>
              <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="#">Vídeo-aulas de inglês</a></p></button>
              <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="#">Vídeo-aulas de espanhol</a></p></button>
          </div>
      </div>
      <div id = "div13" class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header titulo_card">Geral</div>
        <div class="card-body">
          <h5 class="card-title">Provas anteriores </h5>
          <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="https://passeandounb.com/provas-anteriores-do-pas-3/">Cadernos de questões oficiais</a></p></button>
          <p class="card-text"><button type="button" class="btn btn-outline-warning botao"><a href="https://passeandounb.com/provas-anteriores-do-pas-3/">Gabaritos</a></p></button>
        </div>
      </div>
       </div>
   </section>

 </main>
</body>
</html>